# This is Git's per-user configuration file.
[user]
	name = David Rachwalik
	email = david.rachwalik@outlook.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true